{% extends 'base.html' %}
{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
{% load static %}
    <div class="container mx-auto w-2/6">
    {% for recruit in object_list %}
    <div class="mb-2">
        <div class="flex border p-3">
            <div>
                <img src={{recruit.image}} width="50" height="50">
            </div>
            <div class="flex flex-col ml-5">
                <span class="font-bold"><a href="{{recruit.link}}">{{recruit.title}}</a></span>
                <span>{{recruit.company}}</span>
                <span class="text-gray-400">{{recruit.location}} </span>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="flex items-center justify-center mx-auto container mb-7 mt-7">
        {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
    </div>

{% endblock content %}