[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.7"
pillow = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
django-extensions = "*"
graphviz = "*"
pandas = "*"
beautifulsoup4 = "*"
django-crontab = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
celery = "*"
django-bootstrap-modal-forms = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.8"
