{% load humanize %}
<div class="w-full border border-gray-300 rounded-xl mb-4 p-3">
  <div class="flex">
    <div>
      {% include "mixins/user_avatar.html" with user=board.host h_and_w='w-10 h-10' text='text-xl' %}
    </div>
    <div class="flex flex-col ml-3 w-full">
      <div class="flex justify-between items">
      <span class="font-bold"><a href="{{board.host.get_absolute_url}}">{{board.host.first_name}}</a>
  
        <a class="font-bold text-sm btn_follow cursor-pointer ml-1" name="{{board.pk}}" type="button">
          {% if board.host in user.followings.all %}
            <span id="label-{{board.pk}}" class="text-red-400 hover:text-red-600">팔로우 취소</span>
          {% elif user == board.host%}
            <span></span>
          {% else %}
            <span id="label-{{board.pk}}" class="text-blue-400 hover:text-blue-700">팔로우</span>
          {% endif %}
        </a>
        
      </span>

        
        {% if user == board.host %}
        <div class="flex justify-center">
          <div class="flex items-center">
              <div x-data="{ dropdownOpen: false }" class="relative">
                <button @click="dropdownOpen = !dropdownOpen" class="relative z-10 block rounded p-1 focus:outline-none">
                  <svg class="h-6 w-6 -mt-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                  </svg>
                </button>
                <div x-show="dropdownOpen" class="absolute right-0 w-24 mt-2 bg-white rounded-md overflow-hidden shadow-xl z-20">
                  
                  <a href="#board_update" rel="modal:open" @click="dropdownOpen = !dropdownOpen" class="block px-4 py-2 text-sm text-gray-800 border-b hover:bg-gray-200">수정</a>
                  <a href="{% url 'boards:board-delete' board.pk %}" @click="dropdownOpen = !dropdownOpen" onclick="return confirm('정말 삭제하시겠습니까?')" class="block px-4 py-2 text-sm text-gray-800 border-b hover:bg-gray-200">삭제</a>
                  <div id="board_update" class="modal">
                    <div class="flex justify-between items-center border-b p-2 text-xl">
                        <h6 class="text-xl font-bold">글 수정</h6>
                    </div>
                    <div class="flex mb-2 mt-2 items-center">
                      <div>
                        {% include "mixins/user_avatar.html" with user=board.host h_and_w='w-8 h-8' text='text-lg' %}
                      </div>
                      <div class="flex flex-col ml-3 w-full">
                        <div class="flex justify-between items-center">
                        <span class="font-semibold"><a href="{{board.host.get_absolute_url}}">{{board.host.first_name}}</a></span>
                        </div>
                      </div>
                    </div>
                    <form method="POST" action="{% url 'boards:board-update'%}">
                        {% csrf_token %}
                        <p><textarea name="description">{{board.description}}</textarea></p>
                        <input type="text" class="hidden" name="pk" value="{{board.pk}}">
                        <div class="flex justify-end">
                          <button class="mr-5 px-3 py-1 font-bold text-lg hover:text-blue-500 focus:outline-none">수정</button>
                          <a href="#" rel="modal:close" class="px-3 py-1 font-bold text-lg hover:text-red-500 focus:outline-none">닫기</a>
                        </div>
                    </form>
                </div>
                </div>
              </div>
          </div>
        </div>
        {% endif %}
      </div>
      <span class="text-xs font-light text-gray-600" id="follow-count-{{board.pk}}">팔로워 {{board.host.follower.following.count|intcomma}}명</span>
    </div>
  </div>
    
    <div class="border-b mb-2 mt-2">
        <p class="mb-2 mx-1.5">
            {{board.description}}
        </p>
    </div>
    <div class="border-b mb-2">
      <a class="btn_like cursor-pointer" name="{{board.pk}}" type="button">        
        {% if board in user.like_boards.all %}
        <span id="icon-{{board.pk}}"><i class="fas fa-heart mb-2 mx-1.5 text-red-400"></i></span>
        {% else %}
        <span id="icon-{{board.pk}}"><i class="far fa-heart mb-2 mx-1.5 text-red-400"></i></span>
        {% endif %}
        <span id="count-{{board.pk}}" class="text-gray-600">{{board.like_count}}</span>
      </a>
    </div>
    <div>
      <button class="hover:bg-gray-200 rounded-md p-1 focus:outline-none btn_toggle" data-id="{{board.pk}}"><i class="far fa-comment-alt"></i><span class="ml-2">댓글</span></button>
    </div>
    <div class="hidden" id="til{{board.pk}}">
      <form method="POST" action="{% url 'comments:comment-write' board.pk %}" class="pt-2 pb-1">
        {% csrf_token %}
        <input class="border rounded-lg" type="text" placeholder="댓글 남기기" name="comment">
    </form>
      {% for comment in board.comment.all %}
      <div class="border-section mb-2 mt-3">
        <div class="mb-3 flex">
            <div>
                {% include "mixins/user_avatar.html" with user=comment.user h_and_w='w-7 h-7' text='text-lg' %}
            </div>
            <div class="flex flex-col ml-2 bg-gray-100 w-full p-2 rounded-md">
              <div class="flex justify-between items-center -mt-1">
                  <div>
                    <span class="text-xs">{{comment.user.first_name}}</span>
                  </div>
                  {% if user == comment.user %}
                    <div>
                      <a href="#comment_update" rel="modal:open"><span class="text-xs hover:text-blue-500 mr-2">수정</span></a>
                      <a href="{% url 'comments:comment-delete' comment.pk %}"><span class="text-xs hover:text-red-600 mr-1">삭제</span></a>
                      <div id="comment_update" class="modal">
                        <div class="flex justify-between items-center border-b p-2 text-xl">
                            <h6 class="text-xl font-bold">댓글 수정</h6>
                        </div>
                        <div class="flex mb-2 mt-2 items-center">
                          <div>
                            {% include "mixins/user_avatar.html" with user=board.host h_and_w='w-8 h-8' text='text-lg' %}
                          </div>
                          <div class="flex flex-col ml-3 w-full">
                            <div class="flex justify-between items-center">
                            <span class="font-semibold"><a href="{{comment.user.get_absolute_url}}">{{comment.user.first_name}}</a></span>
                            </div>
                          </div>
                        </div>
                        <form method="POST" action="{% url 'comments:comment-update' comment.pk%}">
                            {% csrf_token %}
                            <p><textarea class="h-16" name="comment">{{comment.comment}}</textarea></p>
                            <div class="flex justify-end">
                              <button class="mr-5 px-3 py-1 font-bold text-lg hover:text-blue-500 focus:outline-none">수정</button>
                              <a href="#" rel="modal:close" class="px-3 py-1 font-bold text-lg hover:text-red-500 focus:outline-none">닫기</a>
                            </div>
                        </form>
                    </div>
                    </div>
                  {% endif %}
              </div>
                <span class="text-xs text-gray-500">{{comment.created|date:'Y년 m월 d일'}}</span>
                <span class="text-sm">{{comment.comment}}</span>
            </div>
        </div>
    </div>
    
      {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>