{% extends 'base.html' %}
{% block page_name %}
    Home
{% endblock page_name %}


{% block content %}
{% load static %}
    <div class="infinite-container">
    {% for board in object_list %}
    <div class="infinite-item">
        <h1>{{board.name}} / {{board.host}}</h1>
    </div>
    {% endfor %}
    </div>
    <h5>
        
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        page {{page_obj.number}} of {{page_obj.paginator_num_pages}}
        
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </h5>

        



    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {

            },
            onAfterPageLoad: function() {

            }
        });
    </script>

{% endblock content %}