{% extends 'base.html' %}
{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
{% load static %}
    <div class="flex justify-between"> 
        <div class="bg-white border w-full justify-center items-center overflow-hidden max-h-50vh h-3/5 lg:w-5/12 md:w-1/2 xl:w-1/5 rounded-lg shadow-sm  ml-28">
                <div class="h-40">
                <img class="h-full w-full" src="https://images.unsplash.com/photo-1531685250784-7569952593d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80">
                </div>
                <div class="relative mx-auto h-24 w-24 -my-12">
                    <a href="{{user.get_absolute_url}}" class="object-cover w-full h-full items-center text-center">
                        {% include "mixins/user_avatar.html" with user=user h_and_w='w-24 h-24' text='text-5xl' %}
                    </a>
                </div>
                <div class="mt-16 text-center">
                <h1 class="text-lg text-center font-semibold">
                    {{user.first_name}} 
                </h1>
                <a href="{% url 'users:update' %}">
                    <p class="text-blue-400">관심 분야 및 관심 언어 등록하기</p>
                </a>
                </div>
            <div class="mt-6 pt-3 flex flex-wrap mx-6 border-t mb-2">
                
                {% for field in user.att_language.all %}
                <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
                    {{field}}
                </div>
                {% endfor %}
            </div>
        </div>
            <div class="infinite-container lg:w-5/12 md:w-1/2 xl:w-4/12 mx-auto">
                <div class="bg-white rounded-xl items-center text-center p-2 mb-4">
                    <div>
                        <a href="#board_write" rel="modal:open" class="py-2 px-64 hover:text-blue-500"><span class="text-lg font-bold hover:text-blue-500">글 쓰기</span></a>
                    </div>
                </div>
                <div id="board_write" class="modal">
                    <div class="flex justify-between border-b p-2 text-xl">
                        <h6 class="text-xl font-bold">글 작성</h6>
                    </div>
                    <div class="flex mb-2 mt-2 items-center">
                        <div>
                          {% include "mixins/user_avatar.html" with user=user h_and_w='w-8 h-8' text='text-lg' %}
                        </div>
                        <div class="flex flex-col ml-3 w-full">
                          <div class="flex justify-between items-center">
                          <span class="font-semibold"><a href="{{board.host.get_absolute_url}}">{{user.first_name}}</a></span>
                          </div>
                        </div>
                      </div>
                    <form method="POST" action="{% url "boards:board-create" %}">
                        {% csrf_token %}
                        <p><textarea name="description"></textarea></p>
                        <div class="flex justify-end">
                        <button class="mr-5 px-3 py-1 font-bold text-lg hover:text-blue-500 focus:outline-none">작성</button>
                        <a href="#" rel="modal:close" class="px-3 py-1 font-bold text-lg hover:text-red-500 focus:outline-none">닫기</a>
                        </div>
                    </form>
                </div>
                {% for board in object_list %}
                <div class="infinite-item bg-white rounded-xl">
                    {% include 'partials/board_card.html' with board=board %}
                </div>
                {% endfor %}
            </div>
            <div class=" container lg:w-5/12 md:w-1/2 xl:w-1/5 mr-28 flex flex-col">
                <div class="text-center border rounded-xl border-gray-300 bg-white">
                    <div class="mb-3 mt-3">
                        <span class="font-bold border-b">{{user.first_name}}님의 팔로워</span>
                    </div>
                    <div class="scrollbar container w-full overflow-y-scroll" style="height: 300px;">
                    {% for follow in user.follower.following.all %}
                    <div class="flex justify-between items-center mb-4">
                        <div class="flex ml-4 items-center">
                            {% include 'mixins/user_avatar.html' with user=follow h_and_w='w-6 h-6' text='text-xs' %}
                            <a href="{{follow.get_absolute_url}}"><span class="text-lg ml-2">{{follow.first_name}}</span></a>
                        </div>
                        <div>
                            <a href="{% url 'conversations:go' user.pk follow.pk %}"><span class="mr-3 border p-1 rounded-md bg-green-400 border-green-400 text-white font-light">메세지 전송</span></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>

                <div class="text-center border rounded-xl border-gray-300 mt-12 bg-white">
                    <div class="mb-3 mt-3">
                        <span class="font-bold border-b">{{user.first_name}}님이 팔로우한 사람들</span>
                    </div>
                    <div class="scrollbar container w-full overflow-y-scroll" style="height: 300px;">
                    {% for follow in user.followings.all %}
                    <div class="flex justify-between items-center mb-4">
                        <div class="flex ml-4 items-center">
                            {% include 'mixins/user_avatar.html' with user=follow h_and_w='w-6 h-6' text='text-xs' %}
                            <a href="{{follow.get_absolute_url}}"><span class="text-lg ml-2">{{follow.first_name}}</span></a>
                        </div>
                        <div>
                            <a href="{% url 'conversations:go' user.pk follow.pk %}"><span class="mr-3 border p-1 rounded-md bg-green-400 border-green-400 text-white font-light">메세지 전송</span></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
                
                
            </div>
            
            <h5>
                {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
                {% endif %}
            </h5>
    </div>

    <!-- 무한 스크롤 -->
    
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <script type="text/javascript">
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad: function () {

            },
            onAfterPageLoad: function($items) {
                $items.each(function() {
                    $(this).find('.btn_toggle').on('click', buttonToggleClick);
                })

                $items.each(function() {
                    console.log('like')
                    $(this).find('.btn_like').on('click', buttonLikeClick);
                })

                $items.each(function() {
                    $(this).find('.btn_follow').on('click', buttonFollowClick);
                })
            }
        });

        var buttonToggleClick = function(event){
            var id = $(event.currentTarget).data('id')
            $('#til'+id).toggle()
        }

        var buttonLikeClick = function(event) {
            var pk = $(this).attr('name')
            $.ajax({
                type: "POST",
                url: "{% url 'boards:board-like' %}", 
                data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response) {
                    $("#count-" + pk).html(response.like_count);
                    $("#icon-" + pk).html(response.icon)
                },
                error: function (request, status, error) {
                    alert("잘못된 경로입니다.")
                    window.location.replace("/")
                },
            });
        }

        var buttonFollowClick = function(event) {
            var pk = $(this).attr('name')
            $.ajax({
                type: "POST",
                url: "{% url 'users:follow' %}",
                data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response) {
                    $("#label-" + pk).html(response.message)
                    $("#follow-count-" + pk).html("팔로워 " + response.follow_count)
                },
                error: function (request, status, error) {
                    alert("잘못된 경로입니다.")
                    window.location.replace("/")
                },
            });
        }
        // 댓글창 열고 닫기
        $(document).ready(function() {
            $('.btn_toggle').on('click', buttonToggleClick)
        })
        
      
        // 게시글 좋아요 
        $(document).ready(function() {
            $('.btn_like').on('click', buttonLikeClick)
        })

        $(document).ready(function() {
            $('.btn_follow').on('click', buttonFollowClick)
        })
    </script>
{% endblock content %}
<!-- $(".btn_like").click(function () {
    var pk = $(this).attr('name')
    $.ajax({
        type: "POST",
        url: "{% url 'boards:board-like' %}", 
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
            $("#count-" + pk).html(response.like_count);
            $("#icon-" + pk).html(response.icon)
        },
        error: function (request, status, error) {
            alert("잘못된 경로입니다.")
            window.location.replace("/")
        },
    });
}) -->

<!-- $('.btn_toggle').click(function (e) {
    var id = $(e.currentTarget).data('id')
    $('#til'+id).toggle()
  }); -->
  
  <!-- $(".btn_follow").click(function () {
    var pk = $(this).attr('name')
    $.ajax({
        type: "POST",
        url: "{% url 'users:follow' %}",
        data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        dataType: "json",
        success: function (response) {
            $("#label-" + pk).html(response.message)
            $("#follow-count-" + pk).html("팔로워 " + response.follow_count)
        },
        error: function (request, status, error) {
            alert("잘못된 경로입니다.")
            window.location.replace("/")
        },
    });
}) -->